@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import 'value';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
  border-bottom: 1px solid $line1;
  .header_contents {
    max-width: $maxWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
    margin: 0 auto;
    box-sizing: border-box;

    .nav_area {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-right: 2rem;
    }

    .logo {
      font-family: 'Permanent Marker', cursive;
      font-size: 4rem;
      span {
        color: $primary1;
      }
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        padding-left: 3rem;
        li {
          position: relative;
          @include fontHeight(1.6);
          &.active {
            a {
              font-weight: $fontBold;
              color: $primary1;
            }
          }
          a {
            color: $secondary
          }
          + li {
            margin-left: 1.2rem;
            padding-left: 1.2rem;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
              display: block;
              background-color: $line1;
              width: 1px;
              height: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header_contents {
      .nav_area {
        margin-right: 0;
      }
      .search_area{
        display: block;
        width: 100%;
        margin-top: 1.2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .header_contents {
      .logo {
        font-size: 2.5rem;
      }
    }
  }
}