@import 'value';

.section {
  margin: 3rem 0 6rem;
}

.title {
  margin-bottom: 1.5rem;
  @include fontHeight(2.6);
  font-weight: $fontBold;
}

.contents {
  .item {
    cursor: pointer;
    &:hover, &:focus {
      .item_img {
        transition: 0.3s all;
        filter: brightness(70%);
        img {
          width: 110%;
        }
      }
      .item_title {
        text-decoration: underline;
      }
    }
    &_img {
      position: relative;
      width: 100%;
      border-radius: 0.6rem;
      overflow: hidden;
      padding-bottom: 140%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        transition: 0.3s all;
      }
    }
    &_dec {
      margin-top: 2rem;
    }
    &_title {
      @include fontHeight(1.6);
      font-weight: $fontBold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &_date {
      margin-top: 0.2rem;
      @include fontHeight(1.4);
    }
    &_rate {
      margin-top: 0.4rem;
      @include fontHeight(1.4);
      color: $text1;
    }
  }
}