@import 'value';

.search_list {
  padding-bottom: 12rem;
}

.search_result {
  padding: 6rem 0;
  text-align: center;
  .search_text{
    display: block;
    color: $active1;
    @include fontHeight(3.2);
    font-weight: $fontBold;
  }
  .search_count {
    display: block;
    padding-top: 1.6rem;
    @include fontHeight(1.8);
    .count {
      color: $active1;
      font-weight: $fontBold;
    }
  }
}

.search_list_result {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $white;
  }
  .search_item {
    width: 50%;
  }
}

.search_item {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 1px solid $line1;
  cursor: pointer;
  .item_img {
    flex: 0 0 auto;
    width: 12rem;
    border-radius: 0.5rem;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
    }
  }
  .item_dec {
    padding: 0 2rem;
  }
  .item_title {
    @include fontHeight(2);
    font-weight: $fontBold;
  }
  .item_date {
    @include fontHeight(1.6);
    color: $text1;
  }
  .item_rate {
    margin-top: 1.2rem;
    @include fontHeight(1.4);
    color: $text1;
  }
}

.search_load_more {
  padding: 4rem 0;
  button {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    border: 1px solid $line1;
  }
}