@import 'value';

.section {
  margin: 3rem 0 6rem;
}

.title {
  margin-bottom: 1.5rem;
  @include fontHeight(2.6);
  font-weight: $fontBold;
}
.total_count {
  @include fontHeight(1.6);
  color: $text1;
}

@media (max-width: 480px) {
  .title {
    @include fontHeight(2.2);
  }
}