@charset 'UTF-8';
@import 'value';
@import 'reset';

.layout-container {
  @include layout;
}

/* slick common */
.slick-slider {
  .slick-list {
    margin: 0 -1rem;
  }
  .slick-slide {
    padding: 0 1rem;
    img {
      width: 100%;
    }
  }
}