@charset 'UTF-8';
@import 'value';
@import 'reset';

.layout-container {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 3rem;
  // padding: 0 $maxWidthPad;
}

/* slick common */
.slick-slider {
  .slick-list {
    margin: 0 -1rem;
  }
  .slick-slide {
    padding: 0 1rem;
    img {
      width: 100%;
    }
  }
}